ion-content {
  --background: #f6f7fb;
}

:root, body {
  font-size: 14px;
}
a {
  text-decoration: none;
  color: #000000;
  transition: color .3s ease;
  &:hover {
    color: #2b2b2b;
    text-decoration: none;
  }
}

.container {
  max-width: 1024px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  height: 100%;
  @media (min-width: 320px) and (max-width: 767px) { 
    height: auto;
  }
}
