.page-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1em;
  .top-section,
  .bottom-section {
    min-width: 80%;
    position: relative;
    min-height: 70px;
    #top-left-line,
    #top-right-line,
    #top-bottomLeft-line,
    #top-bottomRight-line,
    #bottom-left-line,
    #bottom-right-line,
    #bottom-topLeft-line,
    #bottom-topRight-line {
      position: absolute;
    }
  }
  .top-section {
    #top-right-line {
      right: 0;
    }
    #top-bottomLeft-line {
      bottom: 0;
      left: -75px;
    }
    #top-bottomRight-line {
      bottom: 0;
      right: -75px;
    }
  }
  .bottom-section {
    #bottom-left-line {
      bottom: 0;
    }
    #bottom-right-line {
      bottom: 0;
      right: 0;
    }
    #bottom-topLeft-line {
      left: -75px;
    }
    #bottom-topRight-line {
      right: -75px;
    }
    #copyright {
      position: absolute;
      top: 45px;
      text-align: center;
      width: 100%;
      color: #a2a2af;
      font-weight: 800;
    }
  }
  .main-section {
    background-color: #ffffff;
    padding: 1.5em 1.5em 2em;
    min-width: 80%;
    position: relative;
    .top-content {
      h1 {
        font-style: italic;
        font-family: "Open Sans", sans-serif;
        margin-bottom: 0;
        margin-top: 0;
        line-height: 1;
        span {
          font-weight: 800;
        }
      }
    }
    #signup-button {
      margin-bottom: -10px;
      a {
        font-weight: 800;
      }
    }

    #login-button {
      position: absolute;
      bottom: 1.1em;
      right: 0;
      a {
        background-color: #000000;
        padding: 1em 3em;
        font-weight: bold;
        font-size: 16px;
        text-transform: uppercase;
        color: #ffffff;
        transition: all 300ms ease;
        &:hover {
          background-color: var(--ion-color-primary);
        }
      }
    }

    .form-wrapper {
      display: flex;
      align-items: center;
      flex-direction: column;
      #login-form {
        max-width: 100%;
        min-width: 65%;
        padding: 2.5em 0;
        .input-group {
          position: relative;
          margin-bottom: 2em;
          .form-input {
            border: none;
            width: 100%;
            border-bottom: solid 2px #000000;
            padding: 0.75em;
            &:focus {
              outline: none;
            }
            &:focus ~ label,
            &:not(:placeholder-shown) ~ label {
              top: -1em;
              font-size: 12px;
            }
          }
          label {
            font-weight: bold;
            text-transform: uppercase;
            font-size: 14px;
            position: absolute;
            pointer-events: none;
            left: 0.75em;
            top: 0.75em;
            transition: 300ms ease all;
          }
        }
      }
      .social-buttons {
        display: flex;
        width: 100%;
        margin: 4em 0;
        .sc-button {
          border-top: solid 2px #000000;
          border-bottom: solid 2px #000000;
          display: flex;
          justify-content: center;
          align-items: center;
          flex: 0 50%;
          padding: 1em 0;
          transition: 300ms ease all;
          cursor: pointer;
          img {
            max-height: 16px;
            margin-right: 2em;
          }
          span {
            text-transform: uppercase;
            font-weight: bold;
          }
          &#fb {
            border-right: solid 1px #000000;
            border-left: solid 2px #000000;
          }
          &#google {
            border-left: solid 1px #000000;
            border-right: solid 2px #000000;
          }

          &:hover {
            color: #ffffff;
            img {
              filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg)
                brightness(100%) contrast(100%);
            }
            &#fb {
              background-color: #2f3591;
            }
            &#google {
              background-color: #a52833;
            }
          }
        }
      }
      .attributes-buttons {
        display: flex;
        align-items: center;
        margin: 1em 0 2em;
        #checkbox {
          display: flex;
          align-items: center;
          flex: 1;
          input {
            margin-right: 10px;
          }
        }
        #forgot {
          font-weight: bold;
        }
      }
    }
  }

  .vertical-line {
    width: 3px;
    height: 30px;
    background-color: #000000;
  }
  .horizontal-line {
    width: 30px;
    height: 3px;
    background-color: #000000;
  }

  @media (min-width: 320px) and (max-width: 767px) {
    .vertical-line {
      height: 20px;
    }
    .horizontal-line {
      width: 20px;
    }
    .top-section,
    .bottom-section,
    .main-section {
      max-width: 90%;
    }
    .top-section,
    .bottom-section {
      min-width: 90%;
      min-height: 50px;
    }
    .top-section {
      #top-left-line {
        top: auto;
        bottom: 10px;
      }
      #top-right-line {
        right: 0;
        top: auto;
        bottom: 10px;
      }
      #top-bottomLeft-line {
        bottom: 0;
        left: -40px;
      }
      #top-bottomRight-line {
        bottom: 0;
        right: -40px;
      }
    }
    .bottom-section {
      #bottom-left-line {
        bottom: auto;
        top: 10px;
      }
      #bottom-right-line {
        bottom: auto;
        top: 10px;
        right: 0;
      }
      #bottom-topLeft-line {
        left: -40px;
      }
      #bottom-topRight-line {
        right: -40px;
      }
      #copyright {
        top: 15px;
      }
    }
    .main-section {
      padding: 2em 1em;

      .form-wrapper {
        padding: 2em 0;
        .social-buttons {
          flex-wrap: wrap;
          .sc-button {
            border-right: solid 2px #000000 !important;
            border-left: solid 2px #000000 !important;
            flex: 0 100%;
            width: 100%;
            &#fb {
              border-top: solid 2px #000000;
              border-bottom: solid 1px #000000;
            }
            &#google {
              border-top: solid 1px #000000;
              border-bottom: solid 2px #000000;
            }
          }
        }
      }
      #signup-button {
        margin-bottom: 3em;
      }
      #login-button {
        position: relative;
        text-align: center;
        width: 100%;

        a {
          width: 100%;
          display: block;
        }
      }
    }
  }
}

